
@model MMIv3.Models.UserAction
@{



    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var action = 0;

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
            action = 1;
            Model.action = action;
            Model.url = imagePath;

        }
    }
}
<div class="mycontainer2">


    <div class="leftmenu">
        @foreach (MMIv3.Models.Friend friend2 in Model.lastthree)
        {

           <div class="elipsa" style="background-image:Url(@friend2.avatar )"></div> <div class="name"><p>@friend2.Name</p></div>
            }









        </div>
    <div class="middlemenu" id=" midmenu">
        <div class="sendreq">
            <form action="/Home/LogIn" role="form" method="post">
                <label class="col-form-label" for="sendreqname">Add Friend:</label><input id="sendreqname" name="sendreqname" type="text" class="form-control" />

                <label class="col-form-label" for="action"></label><input id="action" name="action" type="hidden" class="form-control" value="2" />
                <label class="col-form-label" for="id"></label><input id="id" name="id" type="hidden" class="form-control" value="@Model.id" />

                <input type="submit" value="Send Request" />
            </form>
        </div>
        <div class="friendlist">
            <p>Znajomi</p>
            @foreach (MMIv3.Models.Friend friend in Model.Friendlist)
            {
                <div class="child-friend">
                    <div class="elipsa" style="background-image:Url(@friend.avatar )"></div> <div class="name"><p>@friend.Name</p></div>
                </div>



            }





        </div>
        <div class="Requests">
            <p>Requesty</p>
            @foreach (MMIv3.Models.Friend friend1 in Model.WaitingReqlist)
            {

                <div class="child-friend">
                    <div class="elipsa" style="background-image:Url(@friend1.avatar )"></div> <div class="name"><p>@friend1.Name</p></div>
                    <form action="/Home/LogIn" role="form" method="post">
                        <label for="action"></label><input type="hidden" id="action" name="action" value="3" />
                        <label for="id"></label><input type="hidden" id="id" name="id" value="@Model.id" />
                        <label for="accepted"></label><input type="hidden" id="accepted" name="accepted" value="@friend1.Id" />

                        <input type="submit" value="Accept" />
                    </form>
                </div>



            }





        </div>
    </div>
    <div class="rightmenu">
        <form action="/Home/LogIn" role="form" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend> Upload Image </legend>
                <label for="Image">Image</label>
                <input type="file" name="Image" />
                <br />


                <label class="col-form-label" for="action"></label><input id="action" name="action" type="hidden" class="form-control" value="1" />
                <label class="col-form-label" for="id"></label><input id="id" name="id" type="hidden" class="form-control" value="@Model.id" />
                <label class="col-form-label" for="url"></label><input id="url" name="url" type="hidden" class="form-control" value="@Model.url" />

                <input type="submit" value="Upload" />
                <input type="submit" value="Confirm" />

            </fieldset>
        </form>
        <h1>Uploaded Image @Model.url</h1>
        @if (imagePath != "")
        {
            <div class="result">
                <img src="@imagePath" alt="image" />

            </div>
        }


    </div>
</div>
